<h1>
  <span>
    <li>
      <button (click)="listAll = true; createJob = false">Show All Jobs</button>
    </li>
    <li>
      <button (click)="createJob = true">
        Create New Job
      </button>
    </li>
  </span>
</h1>

<div *ngIf="listAll">
  <ul>
    <li *ngFor="let job of jobs">{{ job.title | json }}
      <button (click)="editJob = true; listAll = false; selectJob(job)">
        Edit job
      </button>
    </li>
  </ul>
  <button (click)="listAll = false">Return</button>
</div>

<div *ngIf="createJob">
  <form>
    <!--
  private String title; // REQUIRED
	private String name;
	private String skills;
	private String description;
	private Integer pay;
	private Boolean active; // REQUIRED
  private Company company;         // REQUIRED
	private Location location;
	private Category category;
-->

    <label for="title">Title</label>
    <input type="text" name="title" [(ngModel)]="newJob.title" /><br />
    <label for="name">Nickname</label>
    <input type="text" name="name" [(ngModel)]="newJob.name" /><br />
    <label for="skills">Required Skills</label>
    <input type="text" name="skills" [(ngModel)]="newJob.skills" /><br />
    <label for="description">Description</label>
    <input
      type="text"
      name="description"
      [(ngModel)]="newJob.description"
    /><br />
    <label for="pay">Wage</label>
    <input type="text" name="pay" [(ngModel)]="newJob.pay" /><br />
    <label for="active">Applied for?</label>
    <input type="checkbox" name="active" [(ngModel)]="newJob.active" /><br />

    <label for="company">Hiring company</label>
    <select (change)="selectCompanyHandler($event)" name="company selector">
      <option value="">Please choose a company...</option>
      <option *ngFor="let company of companies" [ngValue]="company.id">
        {{ company.name }}
      </option>
    </select>

    <label for="category">Category</label>
    <select (change)="selectCategoryHandler($event)" name="category selector">
      <option value="">Please choose a category...</option>
      <option *ngFor="let category of categories" [ngValue]="category.id">
        {{ category.name }}
      </option>
    </select><br>

    <label for="location">Location</label>
    <select (change)="selectLocationHandler($event)" name="location selector">
      <option value="">Please choose a city...</option>
      <option *ngFor="let location of locations" [ngValue]="location.id">
        {{ location.city }}
      </option>
    </select>

    <input
      type="submit"
      value="Upload New Job"
      name="addjobbutt"
      (click)="addJob()"
    />
  </form>
</div>


<div *ngIf="editJob">
  <form>

    <label for="title">Title</label>
    <input type="text" name="title" [(ngModel)]="selectedJob.title" /><br/>
    <label for="name">Nickname</label>
    <input type="text" name="name" [(ngModel)]="selectedJob.name" /><br/>
    <label for="skills">Required Skills</label>
    <input type="text" name="skills" [(ngModel)]="selectedJob.skills" /><br/>
    <label for="description">Description</label>
    <input type="text" name="description" [(ngModel)]="selectedJob.description"/><br/>
    <label for="pay">Wage</label>
    <input type="text" name="pay" [(ngModel)]="selectedJob.pay" /><br/>
    <label for="active">Applied for?</label>
    <input type="checkbox" name="active" [(ngModel)]="selectedJob.active" /><br/>

    <label for="company">Hiring company</label>
    <select (change)="selectCompanyHandler($event)" name="company selector">
      <option *ngFor="let company of companies" [ngValue]="company.id" [selected]="company.id == selectedCompany.id">
        {{ company.name }}
      </option>
    </select><br>

    <label for="category">Category</label>
    <select (change)="selectCategoryHandler($event)" name="category selector">
      <option value="selectedJob.category">{{selectedJob.category}}</option>
      <option *ngFor="let category of categories" [ngValue]="category.id" [selected]="category.id == selectedCategory.id">
        {{ category.name }}
      </option>
    </select><br>

    <label for="location">Location</label>
    <select (change)="selectLocationHandler($event)" name="location selector">
      <option *ngFor="let location of locations" [ngValue]="location.id" [selected]="location.id == selectedLocation.id">
        {{ location.city }}
      </option>
    </select><br>

    <input type="button" name="cancel update" value="Cancel" (click)="editJob = false">

    <input
      type="submit"
      name="update job butt"
      (click)="updateJob()"
    />
  </form>
</div>


